.calendar {
  width: 100%;
  height: 100vh;
  background: #ffffff;
}
.headerCalendar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(96, 96, 96, 0.55);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#month {
  margin-right: 10px;
  width: 100px;
  border-radius: 5px;
  height: 38px;
  background: #ffffff;
}
.selectTypeView {
  margin-right: 10px;
  width: 100px;
  border-radius: 5px;
  height: 38px;
  background: #ffffff;
}
#year {
  border-radius: 5px;
  padding: 2px 4px;
  width: 100px;
  height: 38px;
}
.daysOfWeek {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 4px;
}
.dayOfWeek {
  width: calc(100% / 7);
  text-align: center;
}
.daysOfMonth {
  width: 100%;
  height: calc(100% - 98px);
  display: flex;
  flex-direction: column;
}
.week {
  width: 100%;
  height: calc(100% / 5);
  justify-content: space-between;
  display: flex;
}
.dayOfMonth {
  width: calc(100% / 7);
  height: 100%;
  font-size: 1.2em;
  text-align: center;
}
.dayOfMonth.enabled {
  border: 1px solid rgba(0, 0, 0, 0.18);
}
.dayOfMonth.enabled:hover {
  cursor: pointer;
}
.daysOfMonth .week .dayOfMonth.enabled:hover {
  background: rgba(0, 0, 255, 0.27);
}
.today {
  color: blue;
  border-radius: 3px;
}
.weekend {
  color: red;
}
.selected {
  background: rgba(0, 0, 255, 0.55);
  border-radius: 3px;
}
.activeBlock {
  display: block;
}
.activeDialog {
  display: flex;
}
.disabled {
  background: rgba(128, 91, 58, 0.18);
}
