// tslint-disable
.calendar {
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.headerCalendar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(96, 96, 96, 0.55);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#month {
    margin-right: 10px;
    width: 100px;
    border-radius: 5px;
    height: 38px;
    background: #ffffff;
}

.selectTypeView {
    margin-right: 10px;
    width: 100px;
    border-radius: 5px;
    height: 38px;
    background: #ffffff;
}

#year {
    border-radius: 5px;
    padding: 2px 4px;
    width: 100px;
    height: 38px;
}

.daysOfWeek {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 4px;
}

.dayOfWeek {
    width: calc(100% / 7);
    text-align: center;
}

.daysOfMonth {
    width: 100%;
    height: calc(100% - 98px);
    display: flex;
    flex-direction: column;
}


.week {
    width: 100%;
    height: calc(100% / 5);
    justify-content: space-between;
    display: flex;
}

.dayOfMonth {
    width: calc(100% / 7);
    height: 100%;
    font-size: 1.2em;
    text-align: center;
}

.dayOfMonth.enabled {
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.dayOfMonth.enabled:hover {
    cursor: pointer;
}

.daysOfMonth .week .dayOfMonth.enabled:hover {
    background: rgba(0, 0, 255, 0.27);
}

.today {
    color: blue;
    border-radius: 3px;
}

.weekend {
    color: red;
}

.selected {
    background: rgba(0, 0, 255, 0.55);
    border-radius: 3px;
}

.activeBlock {
    display: block;
}

.activeDialog {
    display: flex;
}

.disabled {
    background: rgba(128, 91, 58, 0.18);
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #00004b;
    padding: 35px 13px 7px;
    width: 350px;
    z-index: 2;
}


.close {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
    transition: 0.25s;
}

.close:hover {
    cursor: pointer;
    color: #c30000;
}

.deleteTask {
    position: fixed;
    top: 10px;
    right: 45px;
    text-align: right;
    transition: 0.5s;
}

.deleteTask:hover {
    cursor: pointer;
    color: #c30000;
}

.nameTask {
    margin: 0 5px 15px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.48);
    height: 20px;
    padding: 3px;
    transition: 0.5s;
}

.timeTask {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    padding: 4px;
}

.datePickerWrapper{
    position: relative;
}

.startTimeDatepicker, .endTimeDatepicker {
    width: 85px;
}



.buttonAddTime {
    height: 30px;
    margin: 0 6px;
    width: 100px;
    line-height: 0.75em;
    font-size: 1em;
}

.buttonAddTime:hover {
    cursor: pointer;
}


.timeWrapper {
    display: flex;
    align-content: start;
    height: 20px;
    margin-top: -5px;
}

.inputTimeWrapper {
    position: relative;
    height: 20px;
}

.inputTime {
    padding-left: 3px;
    margin: 0 3px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.48);
    height: 20px;
    width: 46px;
    transition: 0.7s;
}

.selectTime {
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 0;
    height: 200px;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0 0 5px black;
    overflow-y: scroll;
    background: #ffffff;
}

.optionTime {
    font-family: Helvetica sans-serif;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}

.optionTime:hover {
    background: rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

.wrapperSave {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonSave {
    width: 150px;
}

.buttonToday {
    position: absolute;
    top: 5px;
    left: 40px;
    width: 135px;
    height: 30px;
    line-height: 1em;
    transition: 0.5s;
}

.buttonToday:hover {
    cursor: pointer;
}

.listTasks {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5px 0 10px;
    height: calc(100% - 28px);
    overflow: hidden;
}

.task {
    display: flex;
    width: 100%;
    height: 22px;
    transition: 0.4s;
}

.task:hover {
    background: rgba(0, 0, 0, 0.09);
    border-radius: 4px;
}

.task div {
    color: #32b800;
    font-size: 7px;
    margin: 4px;
}

.task span {
    color: #5d5d5d;
    font-size: 10px;
    margin-right: 5px;
    text-align: left;
}

.task span + span {
    font-size: 14px;
    font-weight: 600;
    margin-top: -3px;
    overflow: hidden;
}

.taskAllDay {
    display: flex;
    justify-content: center;
    background: #009688;
    border-radius: 4px;
}

.taskAllDay span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
}

.taskAllDay:hover span {
    color: black;
}

.viewTask {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.outsideDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    background: rgba(0, 0, 0, 0.16);
}

.error {
    color: red;
    display: none;
}

.errorInput {
    border-color: #c30000;
}

.enterInput {
    border-color: blue;
}

.activeBlock {
    display: inline-block;
}

.activeDialog {
    display: flex;
}

.disabled {
    background: rgba(128, 91, 58, 0.18);
}


